= tabs do
  = tab 'Identity Verification' do
    .mb-4
      = render 'effective/identity_verifications/summary', identity_verification: identity_verification, namespace: :admin
      = render 'effective/identity_verifications/identity_verification', identity_verification: identity_verification, namespace: :admin

  = yield

  - if identity_verification.persisted? && identity_verification.respond_to?(:logs_datatable)
    = tab 'Logs' do
      = render_datatable(identity_verification.logs_datatable, inline: true, namespace: :admin)
